.CreateMenu {
    background-color: #F95F83;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0px;
    width: 100%;
    font-size: calc(10px + 2vmin);
    overflow: auto;
  }

.MenuContainer {
    flex: 1;
}
.Container1 {
    /* flex: 1 0 5%; */
    flex: none;
    margin-left: 25px;
    margin-top: 25px;
    align-self: flex-start;
}

.marginTop {
  margin-top: 800px;
  margin-left: 25px;
  align-self: flex-start;
}

.first {
  flex: 1 0 auto;
}
.second {
  flex: 1 0 auto;
}
.third {
  flex: 1 0 auto;
}

.MiscInputs {
  display: flex;
  justify-content: space-evenly;
}
.spacing {
  margin: 15px;
}
